<div ng-controller="FormController">
<super-navbar>
  <super-navbar-title>
    Login
  </super-navbar-title>
</super-navbar>

<div class="padding" >

  <p>Please sign in as an existing user or create a new account.</p>
  <div class="list">
    <label class="item item-input" for="first name">
      <input type="text" placeholder="First Name" name="name" ng-model="name" class="form-control" required />
    </label>
    <label class="item item-input" for "last name">
      <input type="text" placeholder="Last Name" name="name" ng-model="name" class="form-control" required />
    </label>
    <label class="item item-input" for="email">
      <input type="text" placeholder="Email Address" name="email" ng-model="email" class="form-control item item-input" required />
    </label>
  </div>

  <button ng-click="userLogin()" class="button button-block button-balanced">Submit</button>
  <button onclick="supersonic.ui.initialView.dismiss();" class="button button-block button-balanced">Dismiss</button>

</div>

</div>
