<div ng-controller="FormController">
<super-navbar>
  <super-navbar-title>
    Login
  </super-navbar-title>
</super-navbar>

<div class="padding" >

  <p>Please sign in as an existing user or create a new account.</p>
<form class="FormController">
  <h2> Log In </h2>
  <div class="error" style="display:none"></div>
  <input type="text" id="login-username" placeholder="Username" />
  <input type="password" id="login-password" placeholder="Password" />
  <button ng-click="userLogin()" class="button button-block button-balanced">Login</button>
  <button onclick="supersonic.ui.initialView.dismiss();" class="button button-block button-balanced">Dismiss</button>
</form>

<form class="signup-form">
  <h2>Sign Up</h2>
  <div class="error" style="display:none"></div>
  <input type="text" id="signup-username" placeholder="Username" />
  <input type="password" id="signup-password" placeholder="Create a Password" />
  <button ng-click="userSignup()" class="button button-block button-balanced">Sign Up</button>
  <button onclick="supersonic.ui.initialView.dismiss();" class="button button-block button-balanced">Dismiss</button>
</form>

</div>

</div>
