<div class="padding" ng-controller="SettingsController">

  <super-navbar>
    <super-navbar-title>
      Settings
    </super-navbar-title>
  </super-navbar>

  <ul class="list">
    <li class="item item-toggle">
       About
       <label class="toggle toggle-assertive">
         <input type="checkbox">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
    </li>

    <li class="item item-toggle">
       Location Services
       <label class="toggle toggle-royal">
         <input type="checkbox">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
    </li>
    <li class="item item-toggle">
       Automatically Connect with Friends
       <label class="toggle toggle-balanced">
         <input type="checkbox">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
    </li>
    <li class="item item-toggle">
       Automatic Updates
       <label class="toggle toggle-balanced">
         <input type="checkbox">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
    </li>

  </ul>


</div>
