<div class="padding" ng-controller="SettingsController">

  <super-navbar>
    <super-navbar-title>
      Stores
    </super-navbar-title>
  </super-navbar>

  <h3>My Stores</h3>
  <ul class="list">
    <div class="list">
      <div class="item item-divider">
        Trader Joes
      </div>
    <div class="list">
      <div class="item item-divider">
        Costco
      </div>
    <div class="list">
      <div class="item item-divider">
        Target
      </div>
    <div class="list">
      <div class="item item-divider">
        Harris Teeter
      </div>
  </ul>

  <h3>My Friend's Stores</h3>
  <ul class="list">
    <div class="list">
      <div class="item item-divider">
        Whole Foods
      </div>
    <div class="list">
      <div class="item item-divider">
        Trader Joes
      </div>
    <div class="list">
      <div class="item item-divider">
        Target
      </div>
    <div class="list">
      <div class="item item-divider">
        Wal-Mart
      </div>
  </ul>

</div>
