<div class="padding" ng-controller="FormController">

  <super-navbar>
    <super-navbar-title>
      To Do List
    </super-navbar-title>
  </super-navbar>
  <ul class="list">
    <div class="list">
      <div class="item item-divider">
        Trader Joes
      </div>
          <label class="item item-radio">
          <input type="radio" name="group">
          <div class="item-content">
            Item 1
          </div>
          <i class="radio-icon super-checkmark"</i>
          </label>
        </div>

          <div class="list">

            <label class="item item-radio">
              <input type="radio" name="group">
              <div class="item-content">
                Go
              </div>
              <i class="radio-icon super-checkmark"></i>
            </label>

            ...

          </div>



        <li class="item item-checkbox">
          <label class="checkbox">
          <input type="checkbox">
          </label>Item 2</li>
        <li class="item item-checkbox">
          <label class="checkbox">
          <input type="checkbox">
          </label>Item 3</li>

    <div class="list">
      <div class="item item-divider">
        Costco
      </div>
        <li class="item item-checkbox">
          <label class="checkbox">
          <input type="checkbox">
          </label>Item 1</li>
        <li class="item item-checkbox">
          <label class="checkbox">
          <input type="checkbox">
          </label>Item 2</li>
        <li class="item item-checkbox">
          <label class="checkbox">
          <input type="checkbox">
          </label>Item 3</li>
  </ul>
  <button ng-click="dataTest()" class="button button-block button-balanced">Test data</button>
</div>
